<mat-expansion-panel [(expanded)]="panelState">
    <mat-expansion-panel-header>
        <mat-panel-title>
        Add Products
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="expansion-content"> 
        <form [formGroup]='addForm' (ngSubmit)="addProduct()">
            <mat-form-field>
                <input matInput [formControl]='name' placeholder="Product Name">
                <!-- <small *ngIf="name.touched && name.invalid">
                    *mandatory
                </small> -->
            </mat-form-field>
        
            <mat-form-field>
                <input matInput [formControl]='description' placeholder="Description">
                <!-- <small *ngIf="description.touched && description.invalid">
                    *mandatory
                </small> -->
            </mat-form-field>
    
            <mat-form-field>
                <input matInput [formControl]='price' type="number" placeholder="Price">
                <!-- <small *ngIf="price.touched && price.invalid">
                    *mandatory
                </small> -->
            </mat-form-field>
        
            <button mat-button [disabled]='!addForm.valid'>ADD</button>
        </form>
    </div>
    
</mat-expansion-panel>